body {
    margin:0;
    padding:0;
    background:#000;
    }
p {
     font-size: 8px;
     line-height: 8px;
     text-align: justify;
     -webkit-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background: url("your image here")
     no-repeat center/cover;
     background-attachment: fixed;
     -webkit-background-clip: text;
      -webkit-text-fill-color: rgb(255,255,255,0);
  }